Há alguma correlação entre o valor do combustível (gasolina e etanol) e a região onde ele é vendido?

Há alguma correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele?

In [10]:
import numpy as np
import pandas as pd

In [17]:
df01 = pd.read_csv('/precosgemes5.csv',sep=';',nrows=10)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [18]:
df01.head()

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,ETANOL,01/05/2023,"3,79",NaN,R$ / litro,BRANCA
1,SE,SP,SOROCABA,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,00.003.188/0001-21,RUA HUMBERTO DE CAMPOS,306,NaN,JARDIM ZULMIRA,18061-000,GASOLINA,01/05/2023,"4,69",NaN,R$ / litro,BRANCA
2,N,AC,CRUZEIRO DO SUL,AMAZONIA COMERCIO DE DERIVADOS DE PETROLEO LTDA,01.492.748/0003-83,AVENIDA COPACABANA,440,NaN,COPACABANA,69980-000,ETANOL,01/05/2023,"5,49",NaN,R$ / litro,IPIRANGA
3,N,AC,CRUZEIRO DO SUL,AMAZONIA COMERCIO DE DERIVADOS DE PETROLEO LTDA,01.492.748/0003-83,AVENIDA COPACABANA,440,NaN,COPACABANA,69980-000,GASOLINA ADITIVADA,01/05/2023,"6,97",NaN,R$ / litro,IPIRANGA
4,N,AC,CRUZEIRO DO SUL,AMAZONIA COMERCIO DE DERIVADOS DE PETROLEO LTDA,01.492.748/0003-83,AVENIDA COPACABANA,440,NaN,COPACABANA,69980-000,GASOLINA,01/05/2023,"6,97",NaN,R$ / litro,IPIRANGA

In [19]:
df01.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

Valor de Venda
Regiao - Sigla
Estado - Sigla
Revenda
Produto
Data da Coleta
Valor de Venda
Bandeira

In [26]:
df02_maio=pd.read_csv('/precosgemes5.csv',sep=';',usecols=['Valor de Venda','Regiao - Sigla','Estado - Sigla',
                                                              'Revenda','Produto','Data da Coleta','Valor de Venda',
                                                              'Bandeira'])

In [27]:
df02_maio.shape

(58490, 7)

In [29]:
df02_junho=pd.read_csv('/precosgemes6.csv',sep=';',usecols=['Valor de Venda','Regiao - Sigla','Estado - Sigla',
                                                              'Revenda','Produto','Data da Coleta','Valor de Venda',
                                                              'Bandeira'])

In [30]:
df02_junho.shape

(49041, 7)

Exemplo: pd.concat([tabela_1, tabela_3]) # atenção ao uso dos colchetes

In [48]:
df03_maio_junho=pd.concat([df02_maio,df02_junho])

In [49]:
df03_maio_junho.shape

(107531, 7)

In [41]:
df03_maio_junho.columns

Index(['Regiao - Sigla', 'Estado - Sigla', 'Revenda', 'Produto',
       'Data da Coleta', 'Valor de Venda', 'Bandeira'],
      dtype='object')

In [42]:
df03_maio_junho.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107531 entries, 0 to 49040
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Regiao - Sigla  107531 non-null  object
 1   Estado - Sigla  107531 non-null  object
 2   Revenda         107531 non-null  object
 3   Produto         107531 non-null  object
 4   Data da Coleta  107531 non-null  object
 5   Valor de Venda  107531 non-null  object
 6   Bandeira        107531 non-null  object
dtypes: object(7)
memory usage: 6.6+ MB

In [50]:
df03_maio_junho['Valor de Venda']

0        3,79
1        4,69
2        5,49
3        6,97
4        6,97
         ...
49036    5,64
49037    4,44
49038    5,64
49039    5,64
49040       6
Name: Valor de Venda, Length: 107531, dtype: object

Exemplo: brent02['Abertura']=brent['Abertura'].apply(lambda x: float(x.replace(',','.')))

df10['Total_Forecast'] = df10['Total_Forecast'].apply(lambda x: float(x.replace(".","").replace(",",".")))

Exemplo: df_unificado['Valor de Venda'] = df_unificado['Valor de Venda'].str.replace(',','.').astype(float)

df_unificado

In [51]:
df03_maio_junho['Valor de Venda']=df03_maio_junho['Valor de Venda'].apply(lambda x: float(x.replace(',','.')))

In [53]:
df03_maio_junho['Valor de Venda']

0        3.79
1        4.69
2        5.49
3        6.97
4        6.97
         ...
49036    5.64
49037    4.44
49038    5.64
49039    5.64
49040    6.00
Name: Valor de Venda, Length: 107531, dtype: float64

In [52]:
df03_maio_junho.head()

,Regiao - Sigla,Estado - Sigla,Revenda,Produto,Data da Coleta,Valor de Venda,Bandeira
0,SE,SP,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,ETANOL,01/05/2023,3.79,BRANCA
1,SE,SP,COMPETRO COMERCIO E DISTRIBUICAO DE DERIVADOS ...,GASOLINA,01/05/2023,4.69,BRANCA
2,N,AC,AMAZONIA COMERCIO DE DERIVADOS DE PETROLEO LTDA,ETANOL,01/05/2023,5.49,IPIRANGA
3,N,AC,AMAZONIA COMERCIO DE DERIVADOS DE PETROLEO LTDA,GASOLINA ADITIVADA,01/05/2023,6.97,IPIRANGA
4,N,AC,AMAZONIA COMERCIO DE DERIVADOS DE PETROLEO LTDA,GASOLINA,01/05/2023,6.97,IPIRANGA

Tratar o campo data da coleta para o tipo date time.
apagar campo revenda (drop)
Separar os produtos (gas, gas adt, eta)
Agrupar valoresde cada combustível por região.

In [ ]:
df03_maio_junho['Produto'].unique()

array(['ETANOL', 'GASOLINA', 'GASOLINA ADITIVADA'], dtype=object)

Há alguma correlação entre o valor do combustível (gasolina e etanol) e a região onde ele é vendido?



gasolina03['Data da Coleta'] = pd.to_datetime(gasolina03['Data da Coleta'], format='%d%b%Y')

In [55]:
df03_maio_junho.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107531 entries, 0 to 49040
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Regiao - Sigla  107531 non-null  object
 1   Estado - Sigla  107531 non-null  object
 2   Revenda         107531 non-null  object
 3   Produto         107531 non-null  object
 4   Data da Coleta  107531 non-null  object
 5   Valor de Venda  107531 non-null  float64
 6   Bandeira        107531 non-null  object
dtypes: float64(1), object(6)
memory usage: 6.6+ MB

In [ ]:
#df03_maio_junho['Data da Coleta'] = pd.to_datetime(df03_maio_junho['Data da Coleta'], format='%d%m%Y')

gasolina03['Data da Coleta'] = gasolina03['Data da Coleta'].apply(pd.to_datetime)

In [61]:
df03_maio_junho['Data da Coleta'] = df03_maio_junho['Data da Coleta'].apply(pd.to_datetime)

<ipython-input-61-c6698a118a6c>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df03_maio_junho['Data da Coleta'] = df03_maio_junho['Data da Coleta'].apply(pd.to_datetime)

In [62]:
df03_maio_junho.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107531 entries, 0 to 49040
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Regiao - Sigla  107531 non-null  object
 1   Estado - Sigla  107531 non-null  object
 2   Revenda         107531 non-null  object
 3   Produto         107531 non-null  object
 4   Data da Coleta  107531 non-null  datetime64[ns]
 5   Valor de Venda  107531 non-null  float64
 6   Bandeira        107531 non-null  object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 6.6+ MB

In [ ]:
#df_auxiliar_1 = df_unificado[['Valor de Venda', 'Produto', 'Região']]

In [65]:
df_aux01 = df03_maio_junho[['Valor de Venda', 'Produto', 'Regiao - Sigla', 'Data da Coleta']]

In [66]:
df_aux01.head()

   Valor de Venda             Produto Regiao - Sigla Data da Coleta
0            3.79              ETANOL             SE     2023-01-05
1            4.69            GASOLINA             SE     2023-01-05
2            5.49              ETANOL              N     2023-01-05
3            6.97  GASOLINA ADITIVADA              N     2023-01-05
4            6.97            GASOLINA              N     2023-01-05

In [68]:
# Colunas de interesse e concatenação dos meses de maio e junho
df_aux01.shape

(107531, 4)

df_preco_medio_geral = df_auxiliar_1.groupby(['Produto', 'Região']).mean()

In [78]:
df_aux01['Produto'].unique()

array(['ETANOL', 'GASOLINA', 'GASOLINA ADITIVADA'], dtype=object)

In [75]:
df_group_estados02 = df_aux01.groupby(['Produto','Regiao - Sigla']).mean()

<ipython-input-75-98704ba369c2>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_group_estados02 = df_aux01.groupby(['Produto','Regiao - Sigla']).mean()

In [81]:
df_group_estados02

                                   Valor de Venda
Produto            Regiao - Sigla
ETANOL             CO                    3.860694
                   N                     4.717983
                   NE                    4.412827
                   S                     4.418889
                   SE                    3.904152
GASOLINA           CO                    5.381720
                   N                     5.779189
                   NE                    5.453986
                   S                     5.427969
                   SE                    5.307980
GASOLINA ADITIVADA CO                    5.523893
                   N                     5.945986
                   NE                    5.594001
                   S                     5.578414
                   SE                    5.532514

Sim. Pelos valores analisados no agrupamento dos combustíveis por região é depreendido que o valor mais elevado encotra-se no Norte.

10. Há alguma correlação entre o valor do combustível (gasolina e etanol) e a bandeira que vende ele?